/********* HEADER *********/
header.masthead{
    text-align: center;
    color: white;
    background-image: url("/img/conference.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
header.masthead .intro-text{
    padding-top: 150px;
    padding-bottom: 100px;

}